body { background-color: #2d2d2d; background-image:url('fons03.gif');
	font-family:trebuchet MS,arial,helvetica,verdana; font-size:14px; color:#cccccc;
	text-shadow: 1px 1px #666666;
	}
a:link {color: #00bb11; text-decoration: none}
a:visited {color: #00bb11; text-decoration: none}
a:active {color: #3399cc; text-decoration: none}
a:hover {color: #3399cc; text-decoration: none}

  #div-header {
	display:inline;
  }

  #div-search {
	margin:auto;
	width:60%;	
	text-align:center;
  }

  #div-search-header {
	float:right;
	 
  }

  #tx-search-main {
	font-size:1.6em;
	padding:5px;
	width:400px;
  }

#tx-search-header {
	font-size:1.2em;
	
}

  #div-search-header {
	display:none;
  }  