  #div-header {
	display:inline;
  }

  #div-search {
	margin:auto;
	width:60%;	
	text-align:center;
  }

  #div-search-header {
	float:right;
  }

  #bt-search-main {
	font-size:1.6em;
	padding:5px;
	width:400px;
  } 