/*
#       style.py     
#       
#       Copyright 2011 David <kippeld@gmail.com>            
#                      Arnau <sacaix@gmail.com>
#       
#       This program is free software; you can redistribute it and/or modify
#       it under the terms of the GNU General Public License as published by
#       the Free Software Foundation; either version 2 of the License, or
#       (at your option) any later version.
#       
#       This program is distributed in the hope that it will be useful,
#       but WITHOUT ANY WARRANTY; without even the implied warranty of
#       MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#       GNU General Public License for more details.
#       
#       You should have received a copy of the GNU General Public License
#       along with this program; if not, write to the Free Software
#       Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
#       MA 02110-1301, USA.
#       
#
*/ 
body { background-color: #2d2d2d; background-image:url('fons03.gif');
	font-family:trebuchet MS,arial,helvetica,verdana; font-size:14px; color:#cccccc;
	text-shadow: 1px 1px #666666;
	}

a:link {color: #00bb11; text-decoration: none}
a:visited {color: #00bb11; text-decoration: none}
a:active {color: #3399cc; text-decoration: none}
a:hover {color: #3399cc; text-decoration: none}


.titol-header { color: #cccccc !important; }
.titol-header :hover { color: #cccccc !important; }
.titol-header: visited{ color: #cccccc !important; }


#galeria { position:float;
	width:750px;
	margin:8px auto; padding:8px;
	}
	
#galleria-tagcloud { font-family:arial,helvetica,trebuchet MS; text-shadow: 0px 0px #666666; font-weight:bold;}
#main-tagcloud{ font-family:arial,helvetica,trebuchet MS; text-shadow: 0px 0px #666666; font-weight:bold;}


#galeria-photo { 
	display:inline;
	cursor:pointer;
	}

  #div-header {
	display:inline;
  }

  #div-search {
	margin:auto;
	width:60%;	
	text-align:center;
  }

  #div-search-header {
	float:right;
	 
  }

  #tx-search-main {
	font-size:1.6em;
	padding:5px;
	width:400px;
	display:inline-block;
	margin-top:0px;
  }

#tx-search-header {
	font-size:1.2em;
	width:300px;	
}

.resaltar {
	border-color:green;
	
	box-shadow:3px 3px 3px  rgba(0, 230, 0, 0.90);
}

  #div-search-header {
	display:none;
  }

.simple-overlay {
	display:none;
	z-index:10000;
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;
background-color:#333;
	border:1px solid #666;
}

.simple-overlay img{
	max-height:450px;
}

.simple-overlay .close {
	background-image:url(close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

a.button-principal {
	background-image:url(cerca01.png);
	display: inline-block;
	background-color: transparent;
	background-repeat: no-repeat;
	width: 43px;
	height: 43px;
	margin-bottom:-14px;
	background-position: 0 0px
}  

a.button-principal:hover{
	background-position: 0 -43px;
}

a.button-principal:active{
	background-position:0 -86px;
}

a.button-header {
	background-image:url(cerca02.png);
	display: inline-block;
	background-color: transparent;
	background-repeat: no-repeat;
	width: 29px;
	height: 29px;
	margin-bottom:-10px;
	background-position: 0 0px
}  

a.button-header:hover{
	background-position: 0 -29px;
}

a.button-header:active{
	background-position:0 -58px;
}


.details {
	
	font-size:13px;
	color:#fff;
	left:14px;
	padding:5px;
}
	
.details h3 {
	color:#aba;
	font-size:16px;
	margin:0 0 -10px 0;
}
