{% for photo in photos %}
<div id='galeria-photo' class='galeria-photo'>
<img class='fotografia' id='id-photo-{{photo.id}}' height='120px' name='photo-{{photo.id}}' src='{{photo.photo.url}}' rel='#overlay-{{photo.id}}'/>
</div>
{% endfor %}

{% for photo in photos %}
<div class='simple-overlay' id='overlay-{{photo.id}}' >
	<img src='{{photo.photo.url}}' />
	{% if photo.name != '' %}
	<div class='details'>
	<h3>{{ photo.name }}</h3>
	<p>{{ poto.description}}</p>
	</div>
	{% endif %}
</div>
{% endfor %}

<div id='galleria-tagcloud'>
{% include 'include/tagcloud.html' %}
</div>

