{% extends "base.html" %}{% load webdesign %}
{% block content %}
<div id='header'>
<div id='div-search-header'>

<input id='tx-search-header' name='tx-search-header' type='text' value='' />
</div>
<h1>Neomitòlegs</h1>

</div>
<div id='container'>
<div id='div-info'>
{% lorem 1 %}
</div>
<div id='div-search'>
<h2>Termes de la cerca</h2>
<input type='text' value='' id='tx-search-main' name='search' />
<input type='button' value='Buscar' id='bt-search-main' />
</div>

<div id='galeria'></div>
<div id='not_found' style='display:none'><h1>No s'han trobat imatges</h1></div>
<div id='main-tagcloud'>
{% include 'include/tagcloud.html' with tagcloud=tagcloud %}
</div>

</div>
{%endblock%}