{% extends "base.html" %}
{% block content %}
<div id='header'>
<div id='div-search-header'>
   <div id='tx-search-wrapper'>
   <input id='tx-search-header' name='tx-search-header' type='text' value='' />
   <a href='#' class='button-header' id='bt-search-header'></a>
   <a href='/upload' class='a-upload-header'>Pujar Fotografies</a>
   </div>
</div>
<h1>
	<a href='http://www.elcolador.cat'>
	<!--  -->
	<!-- <a href='/' class='titol-header'>Mito / en construcció</a> -->
	<a href='/' class='titol-header'><img src='{{MEDIA_URL}}styles/titol00.png' width='452' height='72'></a>
</h1>

</div>
<div id='container'>
<div id='div-info'>
<p>Aquest projecte és part d’un estudi científic-artístic al voltant del Mite.
El seu objectiu és compartir amb tots vosaltres, internautes interessats,
les relacions a l’hora estranyes, curioses, simples, al·lucinants,
transcendents i intranscendents que tenim amb el Mite.</p>
<p>Per tot això hem disposat d’una entrada amb la teva recerca i el resultat
que apareix correspon a totes aquelles imatges que altres usuaris,
neomitòlogs, han seleccionat en relació a la paraula que tu estàs buscant.
Continuarem augmentant els continguts d’aquesta web amb tots aquells que
estiguin interessats a participar amb les seves imatges i els seus
comentaris en aquest projecte. </p>
<p>Els conceptes i imatges que apareixen aquí estan imbricats i fan referència
als mites  amb els que representem part del nostre món i a nosaltres
mateixos. En aquest punt ens preguntem, és el món de les Idees el món del
Mite? I de ser així, ens tornem a preguntar, es pot viure sense els
mites?</p>
<p>La segona part d’aquest estudi avançarà en aquesta línia amb un objectiu
clar: transformar, envair, enderrocar o despullar mites. Plantejaments que
tant l’art como la ciència fan possibles des de processos d’acció diferents
i que aquest projecte combina.</p>
</div>
<div id='div-search'>
<h2>Termes de la cerca</h2>
<div style='vertical-align:0px'>
<input type='text' value='' id='tx-search-main' name='search' placeholder='Introduir tags...'/> <a class='button-principal' id='bt-search-main'></a>
<a href='/upload' class='a-upload-main'>Pujar Fotografies</a>
</div>
</div>

<div id='galeria'></div>
<div id='not_found' style='display:none'><h1>No s'han trobat imatges</h1></div>
<div id='main-tagcloud'>
{% include 'include/tagcloud.html'  %}
</div>

</div>
<div id='followTab'>
<img class='bottom-right' src='http://www.elcolador.cat/logo00.gif' width='200' height='52'></a>
</div>
{%endblock%}