{% extends 'base.html' %}
{% block content %}
<!-- MEDIA_include_css upload -->
<div id='header'>
<h1>
<a href='/' class='titol-header'><img src='{{MEDIA_URL}}styles/titol00.png' width='452' height='72'></a>
</h1>
</div>
<div id='container'>
<div id='div-form-upload'>
<h2>Pujar Fotografies</h2>
<p class='info'>
Amb aquest formulari podeu pujar les fotografies a l'aplicació i aixi
participar.
</p>
<form name='fr_upload' id='id_fr_upload' method='post' enctype='multipart/form-data'>
	<table id='tb-upload'>
	<tr><td><label for='id_name'>{{form.name.label}}</label></td>
	    <td>{{form.name}}
	    	{{form.name.errors}}
	    </td>
	 </tr>
	
	<tr><td><label for='id_description'>{{form.description.label}}</label></td>
	    <td>{{form.description}}
	    	{{form.description.errors}}
	    </td>
	 </tr>
	<tr><td><label for='id_photo'>{{form.photo.label}}</label></td>
	    <td>{{form.photo}}
	    	{{form.photo.errors}}
	    </td>
	 </tr>
	<tr><td><label for='id_tags'>{{form.tags.label}}</label></td>
	    <td>{{form.tags}} {{form.tags.errors}}</td>
	 </tr>
	 
	</table>
		
{% csrf_token %}
<br>
<div class='buttons'>
<button type='submit' class='positive'>Pujar una Fotografia</button>
</div> o 
<a href='/'>Tornar a la pàgina principal</a>
<div style='clear:both'></div>
</form>
</div>
</div>
<div id='followTab'>
<ul id='social-menu'>
 <li><a id='bt-twitter' class='button-social' href='http://twitter.com/share?url=http%3A%2F%2Fmitomanies.elcolador.cat%2Fupload' target='_blank' title='Compartir la pàgina'>&nbsp;</a></li>
 <li><a id='bt-facebook' class='button-social' href='http://www.facebook.com/sharer.php?u=http%3A%2F%2Fmitomanies.elcolador.cat%2Fupload' target='_blank' title='Compartir la pàgina'>&nbsp;</a></li>
 </ul>

<a href='http://www.elcolador.cat'>
<img  src='http://www.elcolador.cat/logo00.gif' width='200' height='52'></a> 
 
</div>

{% endblock %}